.navBar{
    height: 80px;
    width: 100%;
    /* border: 1px solid red; */
    background-color: rgb(214,226,236);
  display: inline-block;
}
.navBar2{
    height: 50px;
    /* border: 1px solid red; */
    background-color: black;
    width: 95%;
    margin: auto;
   margin-top: 12px;
   display: flex;
   justify-content: space-around;
 
}
.navBar2>div{
  display: flex;
  gap:10px;
}
.navBar2>div>a{
  text-decoration: none;
}